variables:
  REGISTRY: "docker-hub.2gis.ru"

stages:
  - pre
  - dockerize
  - deploy
  - end

before_script:
  - export APPLICATION=`make -s print-APPLICATION`
  - source ${CI_PROJECT_DIR}/ci-starter-kit/utils.sh
  - export CI_TAG=`[[ -z ${CI_COMMIT_TAG} ]] && echo "branch-${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHA:0:8}" || echo "${CI_COMMIT_TAG}"`

# ================= Build, Test & Orleans Storage Up =================

build-apps:
  stage: pre
  when: always
  image: $REGISTRY/microsoft/aspnetcore-build:2.0.6-2.1.101
  script:
    - dotnet restore --runtime debian-x64
    - dotnet publish src/Broadway.Host --configuration Release --runtime debian-x64 --output ../../publish/broadway-host
    - dotnet publish src/Broadway.Silo --configuration Release --runtime debian-x64 --output ../../publish/broadway-silo
  tags: [ 2gis, docker ]
  artifacts:
    name: "${CI_COMMIT_REF_NAME}_app"
    expire_in: '1 week'
    paths:
      - publish/broadway-host/
      - publish/broadway-silo/
      
orleans-storage-up:
  stage: pre
  when: always
  image: $REGISTRY/2gis-io/k8s-handle:latest
  script:
    - export DOMAIN_POSTFIX=broadway-${CI_COMMIT_REF_SLUG}
    - k8s-handle deploy --config config-prototype.yaml --section deploy-storage --sync-mode true --tries 120
  tags: [ 2gis, docker ]
  only:
    - master
      
# ================= Dockerize =================
      
broadway-host-image:
  stage: dockerize
#  when: manual
  allow_failure: false
  script:
    - IMAGE=roads/broadway-host TAG=$CI_TAG DOCKER_FILE=publish/broadway-host/Dockerfile DOCKER_BUILD_CONTEXT=publish/broadway-host make docker-build
    - IMAGE=roads/broadway-host TAG=$CI_TAG make docker-push
  tags: [ docker-engine, io ]
  dependencies:
    - build-apps

broadway-silo-image:
  stage: dockerize
#  when: manual
  allow_failure: false
  script:
    - IMAGE=roads/broadway-silo TAG=$CI_TAG DOCKER_FILE=publish/broadway-silo/Dockerfile DOCKER_BUILD_CONTEXT=publish/broadway-silo make docker-build
    - IMAGE=roads/broadway-silo TAG=$CI_TAG make docker-push
  tags: [ docker-engine, io ]
  dependencies:
    - build-apps
    
# ================ Deploy =================

broadway-prototype:
  stage: deploy
#  when: manual
  image: $REGISTRY/2gis-io/k8s-handle:latest
  script:
    - export DOMAIN_POSTFIX=broadway-${CI_COMMIT_REF_SLUG}
    - export ROADS_ENVIRONMENT=stage
    - export BROADWAY_VERSION=${CI_TAG}
    - k8s-handle deploy --config config-prototype.yaml --section deploy-apps --sync-mode true --tries 60
  only:
    - master
  dependencies: []
  tags: [ 2gis, docker ]
  environment:
    name: broadway-prototype
    url: http://${CI_ENVIRONMENT_SLUG}.web-staging.2gis.ru/swagger
      
# ================= End =================

cleanup:registry:
  stage: end
  when: always
  script:
    - make docker-registry-images-cleanup TAG="branch-" TIME_LIFE_IMAGE=604800 # 7 days
  dependencies: []
  tags: [ docker-engine, io ]

cleanup:runner:
  stage: end
  when: always
  script:
    - make docker-containers-cleanup
    - make docker-images-cleanup TAG="branch-" TIME_LIFE_IMAGE=86400 # 4 days
  dependencies: []
  tags: [ docker-engine, io ]