common:
  blank: blank

deploy-storage:

  k8s_ca_base64: "{{ env='K8S_CA_STAGE' }}"
  k8s_master_uri: "https://master.web-staging.os-n3.hw:6443"
  k8s_namespace: "erm-roads"
  k8s_token: "{{ env='K8S_TOKEN_STAGE' }}"
  
  vendor: "roads"
  id: "{{ env='DOMAIN_POSTFIX' }}"

  max_surge: 1
  max_unavailable: 0 
  node_selector: "worker"
  termination_grace_period_seconds: 60
  revision_history_limit: 3

  postgres_path: "postgres"
  postgres_version: "9.6.3"
  postgres_port: 5432
  postgres_limits_cpu: "700m"
  postgres_limits_memory: "400Mi"
  postgres_requests_cpu: "50m"
  postgres_requests_memory: "100Mi"
  postgres_db: "orleans"
  postgres_user: "postgres"
  postgres_password: "postgres"

  kubectl:
  - template: deployment-storage.yaml.j2
  - template: service-postgres.yaml.j2
  
deploy-cassandra:

  k8s_ca_base64: "{{ env='K8S_CA_STAGE' }}"
  k8s_master_uri: "https://master.web-staging.os-n3.hw:6443"
  k8s_namespace: "erm-roads"
  k8s_token: "{{ env='K8S_TOKEN_STAGE' }}"
  
  vendor: "roads"
  id: "{{ env='DOMAIN_POSTFIX' }}"

  max_surge: 1
  max_unavailable: 0 
  node_selector: "worker"
  termination_grace_period_seconds: 60

  cassandra_path: "cassandra"
  cassandra_version: "3.11.2"
  cassandra_limits_cpu: "500m"
  cassandra_limits_memory: "1Gi"
  cassandra_requests_cpu: "100m"
  cassandra_requests_memory: "500Mi"
  java_max_heap_size: "500M"
  cassandra_sluster_name: "roads"
  cassandra_dc: "n3"

  kubectl:
  - template: statefulset-cassandra.yaml.j2
  - template: service-cassandra.yaml.j2

deploy-apps:

  k8s_ca_base64: "{{ env='K8S_CA_STAGE' }}"
  k8s_master_uri: "https://master.web-staging.os-n3.hw:6443"
  k8s_namespace: "erm-roads"
  k8s_token: "{{ env='K8S_TOKEN_STAGE' }}"
  
  vendor: "roads"
  id: "{{ env='DOMAIN_POSTFIX' }}"
  
  max_surge: 1
  max_unavailable: 0
  node_selector: "worker"
  termination_grace_period_seconds: 60
  revision_history_limit: 3

  replicas_count_apps: 1
  
  roads_env: "{{ env='ROADS_ENVIRONMENT' }}"
  
  silo_path: "docker-hub.2gis.ru/roads/broadway-silo"
  silo_limits_cpu: "500m"
  silo_limits_memory: "300Mi"
  silo_requests_cpu: "50m"
  silo_requests_memory: "225Mi"
  silo_metrics_port: 3000
  
  host_domain: "{{ env='DOMAIN_POSTFIX' }}"
  host_healthcheck: "/swagger"
  host_healthcheck_delay: 1
  host_healthcheck_timeout: 60
  host_path: "docker-hub.2gis.ru/roads/broadway-host"
  host_limits_cpu: "200m"
  host_limits_memory: "200Mi"
  host_requests_cpu: "50m"
  host_requests_memory: "150Mi"
  host_port: 5000
  host_temp_dir: "/tmp/files"

  prometheus_blackbox_probe: "false"
  prometheus_scrape_metrics: "false"

  postgres_db: "orleans"
  postgres_user: "postgres"
  postgres_password: "postgres"

  broadway_version: "{{ env='BROADWAY_VERSION' }}" 

  kubectl:
  - template: deployment-silo.yaml.j2
  - template: deployment-host.yaml.j2
  - template: service-silo.yaml.j2
  - template: service-host.yaml.j2  

