apiVersion: v1
kind: Secret
metadata:
  name: {{ vendor }}-postgres-secret
data:
  pgpass: {{ ['lb.pg.n1.nato:6432:okapi:okapi_ro:', postgres_ro_password ] | join | b64encode }}
  prod_db_dsn_ro: {{ ['postgresql://okapi_ro:', postgres_ro_password, '@lb.pg.n1.nato:6432/okapi' ] | join | b64encode }}
