apiVersion: v1
kind: Service
metadata:
  name: {{ vendor }}-{{ id }}-postgres
  annotations:
    router.deis.io/maintenance: "{{ maintenance | default('False') }}"
    router.deis.io/ssl.enforce: "{{ ssl_enforce | default('False') }}"
  labels:
    router.deis.io/routable: "{{ routable | default("true") }}"
spec:
  type: NodePort
  ports:
    - name: postgres
      port: {{ postgres_port }}
      targetPort: {{ postgres_port }}
      protocol: TCP
  selector:
    app: {{ vendor }}-{{ id }}-storage
