apiVersion: v1
kind: Service
metadata:
  name: {{ vendor }}-{{ id }}-host
  annotations:
    router.deis.io/domains: "{{ host_domain | join }}"
    router.deis.io/maintenance: "{{ maintenance | default('False') }}"
    router.deis.io/ssl.enforce: "{{ ssl_enforce | default('False') }}"
    prometheus.io/probe: "{{ prometheus_blackbox_probe }}"
    prometheus.io/probe-path: "{{ host_healthcheck }}"
    sla.2gis.ru/enable: "{{ sla_enabled | default("disabled") }}"
    sla.2gis.ru/paths: |
      [
        {"/": ["^/.*$"]}
      ]
  labels:
    router.deis.io/routable: "{{ routable | default("true") }}"
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: {{ host_port }}
  selector:
    app: {{ vendor }}-{{ id }}-host
