apiVersion: v1
kind: Service
metadata:
  name: {{ vendor }}-{{ id }}-silo
  annotations:
    router.deis.io/maintenance: "{{ maintenance | default('False') }}"
    router.deis.io/ssl.enforce: "{{ ssl_enforce | default('False') }}"
  labels:
    router.deis.io/routable: "{{ routable | default("true") }}"
spec:
  type: NodePort
  ports:
    - name: silo-port
      port: 11111
      targetPort: 11111
      protocol: TCP
    - name: gateway-port
      port: 30000
      targetPort: 30000
      protocol: TCP
  selector:
    app: {{ vendor }}-{{ id }}-silo
