apiVersion: v1
kind: Service
metadata:
  name: {{ vendor }}-{{ id }}-kafka
  annotations:
    router.deis.io/maintenance: "{{ maintenance | default('False') }}"
    router.deis.io/ssl.enforce: "{{ ssl_enforce | default('False') }}"
  labels:
    router.deis.io/routable: "{{ routable | default("true") }}"
spec:
  type: ClusterIP
  ports:
    - name: kafka
      port: {{ kafka_port }}
      targetPort: {{ kafka_port }}
      protocol: TCP
  selector:
    app: {{ vendor }}-{{ id }}-storage
