apiVersion: v1
kind: Service
metadata:
  name: {{ vendor }}-{{ id }}-zookeeper
  annotations:
    router.deis.io/maintenance: "{{ maintenance | default('False') }}"
    router.deis.io/ssl.enforce: "{{ ssl_enforce | default('False') }}"
  labels:
    router.deis.io/routable: "{{ routable | default("true") }}"
spec:
  type: ClusterIP
  ports:
    - name: zookeeper
      port: {{ zookeeper_port }}
      targetPort: {{ zookeeper_port }}
      protocol: TCP
  selector:
    app: {{ vendor }}-{{ id }}-storage
