apiVersion: v1
kind: Service
metadata:
  name: {{ vendor }}-{{ id }}-cassandra
  annotations:
    router.deis.io/maintenance: "{{ maintenance | default('False') }}"
  labels:
    app: {{ vendor }}-{{ id }}-cassandra
spec:
  clusterIP: None
  ports:
  - port: 9042
  selector:
   app: {{ vendor }}-{{ id }}-cassandra
