apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ vendor }}-{{ id }}-cassandra
  labels:
    app: {{ vendor }}-{{ id }}-cassandra
spec:
  serviceName: {{ vendor }}-{{ id }}-cassandra
  replicas: 3
  selector:
    matchLabels:
      app: {{ vendor }}-{{ id }}-cassandra
  template:
    metadata:
      labels:
        app: {{ vendor }}-{{ id }}-cassandra
    spec:
      nodeSelector:
        role: {{ node_selector }}
      volumes:
      - name: cassandra-data
        emptyDir: {}
      terminationGracePeriodSeconds: 1800
      containers:
      - name: cassandra
        image: {{ cassandra_path }}:{{ cassandra_version }}
        imagePullPolicy: Always
        ports:
        - containerPort: 7000
          name: intra-node
        - containerPort: 7001
          name: tls-intra-node
        - containerPort: 7199
          name: jmx
        - containerPort: 9042
          name: cql
        resources:
          limits:
            cpu: {{ cassandra_limits_cpu }}
            memory: {{ cassandra_limits_memory }}
          requests:
           cpu: {{ cassandra_requests_cpu }}
           memory: {{ cassandra_requests_memory }}
        securityContext:
          capabilities:
            add:
              - IPC_LOCK
        lifecycle:
          preStop:
            exec:
              command: 
              - /bin/sh
              - -c
              - nodetool drain
        env:
          - name: MAX_HEAP_SIZE
            value: {{ java_max_heap_size }}
          - name: HEAP_NEWSIZE
            value: 100M
          - name: CASSANDRA_SEEDS
            value: "cassandra-0.{{ vendor }}-{{ id }}-cassandra"
          - name: CASSANDRA_CLUSTER_NAME
            value: {{ cassandra_sluster_name }}
          - name: CASSANDRA_DC
            value: {{ cassandra_dc }}
          - name: POD_IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
        readinessProbe:
          exec:
            command:
            - /bin/bash
            - -c
            - /ready-probe.sh
          initialDelaySeconds: 15
          timeoutSeconds: 5
        # These volume mounts are persistent. They are like inline claims,
        # but not exactly because the names need to match exactly one of
        # the stateful pod volumes.
        volumeMounts:
        - name: cassandra-data
          mountPath: /cassandra_data
